services:
  db:
    image: mysql:8.0
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: 'django-db'
      MYSQL_ROOT_PASSWORD: 'secret'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      interval: 2s
      retries: 10
      
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:${PORT:-8000}
    volumes:
      - .:/code
    ports:
      - "${PORT:-8000}:${PORT:-8000}"
    environment:
      DJANGO_SETTINGS_MODULE: 'MyPortfolio.settings.develop'
      DB_NAME: 'django-db'
      DB_USER: 'root'
      DB_PASSWORD: 'secret'
      DB_HOST: 'db'
      DB_PORT: '3306'
    depends_on:
      db:
        condition: service_healthy

volumes:
  mysql-data: