services:
  db:
    image: mysql:8.0
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      interval: 10s
      retries: 10
    restart: unless-stopped
      
  web:
    build: .
    command: gunicorn MyPortfolio.wsgi:application --bind 0.0.0.0:8000 --workers 3
    volumes:
      - /app/staticfiles:/code/staticfiles
      - /app/mediafiles:/code/mediafiles
    ports:
      - "127.0.0.1:8000:8000"
    environment:
      DJANGO_SETTINGS_MODULE: 'MyPortfolio.settings.production'
      DB_HOST: 'db'
      DB_PORT: '3306'
      STATIC_ROOT: '/code/staticfiles'
      MEDIA_ROOT: '/code/mediafiles'
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

volumes:
  mysql-data:
