.accordion-button {
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
}

.accordion-body {
    background-color: rgb(243, 243, 243);
    font-size: small;
    border-radius: 20px;
}

.step-links {
    width: 100%;
    text-align: center;
}

.post-button {
    /* width: 100%; */
    padding-top: 10px;
}

.post-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(210, 210, 210);
    color: rgb(83, 83, 83);
}

.post-meta {
    font-size: small;
}

.page-button {
    color: #187f58;
    cursor: pointer;
    text-decoration: underline;
}

.page-button:hover {
    color: #6b8f71;
}

.filter-submit {
    text-align: center;
    width: 100%;
}