{% extends 'page-base.html' %}
{% load static %}

{% block title %}Home{% endblock  %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'basic/home-style.css' %}">
{% endblock%}

{% block content %}
    <div class="card home-top">
        <div class="row no-gutters d-flex justify-content-center">
            <div class="col-auto">
                {% comment %} image size: 328x570 {% endcomment %}
                <img src="{% get_media_prefix %}images/profilepic.jpg" class="img-fluid" alt=""> 
            </div>
            <div class="col-md align-middle">
                <div class="card-block px-2">
                    <div class="card-title">
                        <h1 class="text-center my-name">Amir Ebrahim</h1>
                        <div class="pt-2 d-flex justify-content-center">
                            {% comment %} <span>Connect with me: </span> {% endcomment %}
                            <a href="https://www.linkedin.com/in/amir-ebrahim/">
                                <img 
                                    src="{% static 'logos/linkedin.png' %}" 
                                    class="border border-dark home-logo" 
                                    alt="linkedin"
                                    data-bs-toggle="tooltip"
                                    title="Connect with me on LinkedIn"
                                />
                            </a>
                            <a href="https://www.facebook.com/md.amire">
                                <img 
                                    src="{% static 'logos/facebook.png' %}" 
                                    class="ms-3 home-logo" 
                                    alt="facebook"
                                    data-bs-toggle="tooltip"
                                    title="Connect with me on Facebook"
                                />
                            </a>
                            <a href="https://github.com/mdamire">
                                <img 
                                    src="{% static 'logos/github.png' %}" 
                                    class="ms-3 home-logo" 
                                    alt="github"
                                    data-bs-toggle="tooltip"
                                    title="Connect with me on GitHub"
                                />
                            </a>
                            
                        </div>
                    </div>
                    
                    <div class="card-text custom-card-text pt-2">
                        <p>Hi!! I am a full stack software developer. I enjoy 
                        learning new technologies and using them to develop 
                        awesome softwares. I am a team player and feel happy 
                        to collaborate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-5 p-3 border">
        <div class="row d-flex justify-content-center">
            <div class="col-auto p-3">
                <figure>
                    <img src="{% static 'logos/python.png' %}" class="rounded-circle border home-img" alt="Python"/>
                    <figcaption class="d-flex justify-content-center">Python</h4>
                </figure>
            </div>
            <div class="col-auto p-3">
                <figure>
                    <img src="{% static 'logos/django.png' %}" class="rounded-circle border home-img" alt="Django"/>
                    <figcaption class="d-flex justify-content-center">Django</h4>
                </figure>
            </div>
            <div class="col-auto p-3">
                <figure>
                    <img src="{% static 'logos/bash.png' %}" class="rounded border home-img" alt="Bash"/>
                    <figcaption class="d-flex justify-content-center">Bash</h4>
                </figure>
            </div>
            <div class="col-auto p-3">
                <figure>
                    <img src="{% static 'logos/perl.png' %}" class="rounded border home-img" alt="Perl"/>
                    <figcaption class="d-flex justify-content-center">Perl</h4>
                </figure>
            </div>
            <div class="col-auto p-3">
                <figure>
                    <img src="{% static 'logos/mysql.jpg' %}" class="rounded-circle border home-img" alt="mysql"/>
                    <figcaption class="d-flex justify-content-center">SQL/MySQL</h4>
                </figure>
            </div>
            <div class="col-auto p-3">
                <figure>
                    <img src="{% static 'logos/react.png' %}" class="rounded-circle border home-img" alt="React"/>
                    <figcaption class="d-flex justify-content-center">React</h4>
                </figure>
            </div>
            <div class="col-auto p-3">
                <figure>
                    <img src="{% static 'logos/linux.png' %}" class="rounded-circle border home-img" alt="Linux"/>
                    <figcaption class="d-flex justify-content-center">Linux</h4>
                </figure>
            </div>
            <div class="col-auto p-3">
                <figure>
                    <img src="{% static 'logos/docker.png' %}" class="rounded-circle border home-img" alt="Docker"/>
                    <figcaption class="d-flex justify-content-center">Docker</h4>
                </figure>
            </div>
            <div class="col-auto p-3">
                <figure>
                    <img src="{% static 'logos/bootstrap.png' %}" class="rounded-circle border home-img" alt="Bootstrap"/>
                    <figcaption class="d-flex justify-content-center">Bootstrap</h4>
                </figure>
            </div>
            <div class="col-auto p-3">
                <figure>
                    <img src="{% static 'logos/git.png' %}" class="rounded-circle border home-img" alt="Git"/>
                    <figcaption class="d-flex justify-content-center">Git</h4>
                </figure>
            </div>
        </div>
    </div>

    <div class="container-fluid container-no-padding mt-5">
        <h3 class="d-flex justify-content-center pb-3"><u>Recent Posts</u></h3>
        {% for post in post_list %}
            <div class="row home-post-list-row">
                <div class="col-md-2 text-muted post-list-date">
                    {{post.update_date}}
                </div>
                <div class="col-md">
                    <a href="{% url 'blogs:details' post.url_param%}" class="post-list-heading">
                        <h3>{{post.title}}</h3>
                    </a>
                    {{post.sub_title}}
                </div>
            </div>
        {% empty %}
            <h3 class="p-3">No Post Yet</h3>
        {% endfor %}
    </div>
{% endblock  %}