{% extends 'base.html' %}
{% load static %}


{% block body %}
    <nav class="navbar navbar-expand-sm navbar-light bg-color">
        <div class="container-xxl d-flex">
            <div class="justify-content-start">
                <a class="navbar-brand" href="{% url 'home' %}">
                    {% if request.path != '/' %}
                        Amir Ebrahim
                    {% endif %}
                </a>
            </div>

            <div class="justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'projects:projects' %}">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blogs:blogs' %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>    
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    {% block body-content %}
    {% endblock %}

    <div class="footer-row bg-color">
        <div class="container-xxl">
            <div class="row">
                <div class="col-sm" align="left">
                    <a href="https://www.linkedin.com/in/amir-ebrahim/">
                        <img 
                            src="{% static 'logos/linkedin.png' %}" 
                            class="ms-2 border border-dark footer-logo" 
                            alt="linkedin"
                            data-bs-toggle="tooltip"
                            title="Connect with me on LinkedIn"
                        />
                    </a>
                    <a href="https://www.facebook.com/md.amire">
                        <img 
                            src="{% static 'logos/facebook.png' %}" 
                            class="ms-3 footer-logo" 
                            alt="facebook"
                            data-bs-toggle="tooltip"
                            title="Connect with me on Facebook"
                        />
                    </a>
                    <a href="https://github.com/mdamire">
                        <img 
                            src="{% static 'logos/github.png' %}" 
                            class="ms-3 footer-logo" 
                            alt="github"
                            data-bs-toggle="tooltip"
                            title="Connect with me on GitHub"
                        />
                    </a>
                </div>
                <div class="col-sm" align="center">
                    <small>Copyright © 2023</small>
                </div>
                <div class="col-sm" align="right">
                    <a href="https://github.com/mdamire">
                        <img 
                            src="{% static 'logos/sendemail.png' %}" 
                            class="ms-2 footer-logo-msg" 
                            alt="send message"
                            data-bs-toggle="tooltip"
                            title="Send me a message"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}