{% extends 'base.html' %}


{% block body %}
    <nav class="navbar navbar-expand-sm navbar-custom navbar-light">
        <div class="container-md d-flex">
            <div class="justify-content-start">
                <a class="navbar-brand" href="{% url 'home' %}">
                    Logo
                </a>
            </div>

            <div class="justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'projects:projects' %}">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>    
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        {% if request.path != '/home/' %}
            <div class="row header-row">
                <div class="col-md-6 mx-auto header-main">
                    <h1>
                        {% block heading %}
                        {% endblock %}
                    </h1>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-6 mx-auto main">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock  %}