html {
    position: relative;
    min-height: 100%;
}

/*set background color*/
.bg-color{
    background-color: #aad2ba;
}

/* custom class */
.header-row {
    padding-top: 60px;
    padding-bottom: 25px;
}

.main {
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: white;
}

.main-text, .header-text {
    padding-left: 30px;
    padding-right: 30px;
}

.footer-row {
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: medium;
    color: rgb(65, 65, 65);
}

.footer-logo {
    height: 35px;
    width: 35px;
}

.about-btn {
    background-color: #31572c;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    width: 100%;
}

.custom-button-light {
    background-color: #a8ecb4;
    padding: 10px;
    cursor: pointer;
    
}

.about-btn:hover, .custom-button-light:hover {
    background-color: #6b8f71;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

a {
    color: #31572c;
}

a:hover {
    color: #6b8f71;
}

@media (max-width: 992px) {
    .header-row {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .main {
        padding-top: 10px;
        padding-bottom: 110px;
    }

    .main-text, .header-text {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-logo {
        height: 55px;
        width: 55px;
    }   
}
