
body {
    margin: 0;
}

.navbar-custom {
    background-color: #4cb32da9;
    height: 56px;
}

/*
 * Main content
 */
.main {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: white;
}

/* heading row */
.header-row {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #4cb32da9;
}

.header-main {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.post-list-row {
    border-bottom: 2px solid #4cb32da9;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.post-list-date {
    padding-right: 0px;
}

.post-list-heading {
    color: green;
    text-decoration: none;
}

.post-list-heading:hover {
    color: #4cb32da9;
    text-decoration: underline;
}

.container-no-padding {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

@media (min-width: 768px) {
    .main {
        padding-top: 30px;
    }

    .header-row {
        padding-top: 60px;
        padding-bottom: 25px;
    }

    .post-list-row {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}
