{% load static %}

<!DOCTYPE html>
<html>

<head class="header">
    <title>
        {% block title %}
        {% endblock %}
        | Amir Ebrahim
    </title>
    

    {% for static in statics %}
        {% if static.type == 'js' %}
            <script src="{{static.url}}"></script>
        {% elif static.type == 'css' %}
            <link rel="stylesheet" type="text/css" href="{{static.url}}">    
        {% endif %}
    {% endfor %}
    
    
    {% block head %}
    {% endblock %}
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="65" tabindex="0">
    <nav class="navbar navbar-light bg-light px-3 fixed-top">
        <div class="container-md">
            <a class="navbar-brand" href="#"><div class="nav-text">Home</div></a>

            <ul class="nav nav-pills">
                {% for nav_item in nav_items %}
                    <li class="nav-item">
                        <a class="nav-link nav-text" href="{{nav_item.url}}">{{nav_item.title}}</a>
                    </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link nav-text" href="{% url 'blogs:blogs' %}">Posts</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <div class="container-md">
            <div class="px-md-5" style="margin-top: 60px">
                static: {% static 'common/css/default.css' %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>