{% extends 'base-view.html' %}

{% block content %}
    <div class="container-md">
        <div class="px-md-5" style="margin-top: 60px">
        {% for section in sections %}
            {% if section.navbar_title %}
            <div id="{{section.navbar_title}}" style="padding-top: 60px; margin-top: -60px;" class="home-section">
            {% else %}
            <div class="home-section">
            {% endif %}
                {{section.content|safe}}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
