{% extends 'base-post.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block heading %}
    {{ post.title|title }}
{% endblock  %}

{% block content %}
    <div class="text-muted pb-4">
        <small>{{post.publish_date}}</small>

        {% if parent_posts %}
            &nbsp;&#10808;&nbsp;
            <small>Parent Link: 
                {% for parent_post in parent_posts %}
                    <a href="{% url parent_post.url_name parent_post.url_param %}">
                        {{ parent_post.url_param }}
                    </a>
                    /
                {% endfor %}
            </small>
        {% endif %}
    </div>

    {% if post.body %}
        {{post.body|safe}}
    {% endif %}
    
    {% if child_posts_html %}
        <h3 class="heading">
            {% if post.is_parent %}
                {{ "Project details"|title }}
            {% else %}
                {{ "Child Posts"|title }}
            {% endif %}
        </h3>
        <br>

        {{child_posts_html|safe}}
    {% endif %}
{% endblock  %}
