{% extends 'base-post.html' %}

{% block title %}{{ post.title }}{% endblock  %}

{% block sidebar %}
    {% if group.count > 1 %}
        {% for gpost in group %}
            {% if post.id == gpost.id %}
                <li class="active">
                    <a href={% url gpost.url_name gpost.url_param %}>{{ gpost.title }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url gpost.url_name gpost.url_param %}">{{ gpost.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock sidebar %}

{% block content %}
    <h2 class="post-title">{{ post.title }}</h2>
    <div class="text-muted pb-3">
        {{post.publish_date}}
    </div>
    {% autoescape off %}
        <div>{{ post.body }}</div>
    {% endautoescape %}
{% endblock  %}