{% extends 'page-base.html' %}

{% block heading %}
    Projects
{% endblock  %}

{% block content %}
    {% for post in post_list %}
        <div class="container-fluid container-no-padding">
            <div class="row post-list-row">
                <div class="col-md-2 text-muted post-list-date">
                    {{post.update_date}}
                </div>
                <div class="col-md">
                    <a href="{% url 'projects:details' post.url_param%}" class="post-list-heading">
                        <h3>{{post.title}}</h3>
                    </a>
                    {{post.sub_title}}
                </div>
            </div>
        </div>
    {% empty %}
        no post yet
    {% endfor %}
{% endblock  %}